@charset "UTF-8";
.poster__card--img::after, .poster__card--contant-text, .menu-nav__item .menu-nav__link, .backdrop.is-hidden, .backdrop {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__btn--close:hover .icon-vector, .backdrop__btn--close:focus .icon-vector, .icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  -webkit-animation: scale 300ms linear;
          animation: scale 300ms linear;
}

.filter-button, .clients__icon, .social__icon {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  -webkit-transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button, .input-form,
.comments-form {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.poster__card, .filter-button {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form,
.comments-form {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes scale {
  25% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  25% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.icon {
  fill: #AFB1B8;
}

.advantages__icon {
  position: relative;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
}

.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.icon-client1 {
  width: 41px;
  height: 47px;
}

.icon-client2 {
  width: 40px;
  height: 52px;
}

.icon-client3 {
  width: 44px;
  height: 41px;
}

.icon-client4 {
  width: 84px;
  height: 41px;
}

.icon-client5 {
  width: 63px;
  height: 45px;
}

.icon-client6 {
  width: 94px;
  height: 44px;
}

.form-icon {
  fill: #212121;
}

.icon-man {
  width: 12px;
  height: 12px;
}

.icon-phone {
  width: 13px;
  height: 13px;
}

.icon-mail {
  width: 15px;
  height: 12px;
}

.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 70px;
  height: 70px;
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  width: 20px;
  height: 20px;
}

.icon.icon-vector {
  width: 11px;
  height: 11px;
  fill: #212121;
}

.icon-iconsend {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}

.icon-checkmark {
  width: 11px;
  height: 8px;
  background: #2196F3;
  border-radius: 2px;
}

.icon-menu_24px {
  width: 24px;
  height: 16px;
  fill: #212121;
}

.backdrop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.backdrop__modal {
  display: inline-block;
  margin: 94px 15px;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #FFFFFF;
}
@media screen and (max-width: 1199.9px) {
  .backdrop__modal {
    max-width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    min-width: 558px;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: auto;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.backdrop__btn--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop__btn--close {
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.backdrop__btn--close:hover .icon-vector, .backdrop__btn--close:focus .icon-vector {
  fill: #2196F3;
}

.anketa__title {
  margin: 0 auto 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__anketa {
  width: 100%;
  margin: 0 auto;
}

.anketa-form {
  padding: 40px;
}

.question__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__question {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__question > .comments-form:hover, .form__question > .comments-form:focus, .form__question > .comments-form:active {
  color: #2196F3;
  border: 1px solid #2196F3;
  outline: none;
}

.form-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
}

.form__question + .form__question {
  margin-top: 10px;
}

.form__question > input {
  padding-left: 42px;
}

.form__agreement {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form__agreement .question__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .form__agreement .question__label {
    font-size: 14px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .form__agreement .question__label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.link--underline {
  color: #2196F3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.standartButtom.btn-form {
  margin: 0 auto;
  padding: 0;
}

.input-form {
  width: 100%;
  height: 40px;
  padding-left: 42px;
}
.input-form:hover, .input-form:focus, .input-form:active {
  color: #2196F3;
  border: 1px solid #2196F3;
  outline: none;
}
.input-form:hover ~ .form-icon, .input-form:focus ~ .form-icon, .input-form:active ~ .form-icon {
  fill: #2196F3;
}

.checkbox-icon-container {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 16px;
  background: #2196F3;
  border-radius: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.question__container--input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

input[type=checkbox]:checked + .checkbox-icon-container {
  -webkit-transform: scale(1);
          transform: scale(1);
}

input[type=checkbox]:checked {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body {
  font-family: Roboto, sans-serif, Arial, sans-serif;
  color: #212121;
  background-color: #FFFFFF;
  font-size: 16px;
  width: auto;
  margin: 0 auto;
}
@media screen and (max-width: 767.9px) {
  body {
    max-width: 767.9px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    max-width: 1199.9px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    min-width: 1200px;
  }
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer {
  background-color: #2F303A;
}

button {
  cursor: pointer;
}

.page-header,
.footer-container {
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section--position {
  margin: 0 auto;
}

.section__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.1667;
  }
}

.doing__list,
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .doing__list,
.clients__list {
    margin-top: 50px;
  }
}

textarea {
  resize: none;
}

input,
textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 1; /* Firefox */
}

::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 1; /* Firefox */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder,
::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.style-checkbox {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
}

input[type=checkbox] {
  background: #212121;
  border: 1px solid #000000;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    max-width: 768px;
    padding: 60px 15px;
  }
}
@media screen and (max-width: 767.9px) {
  .container {
    max-width: 480px;
    padding: 60px 15px;
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 94px 15px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .icon-envelope,
.icon-smartphone {
    display: none;
  }
  .menu-nav--contact-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .menu-nav__link.contact.link-phone {
    font-size: 34px;
    line-height: 1.176;
    color: #2196F3;
  }
  .menu-nav__link.contact.link-mail {
    font-size: 24px;
    line-height: 1.1667;
  }
  .main-nav.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-nav__container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: #FFFFFF;
    text-align: left;
  }
  .menu-nav__container.is-open {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 5;
  }
  .menu-nav__container.is-open ~ .menu__btn {
    position: fixed;
    right: 15px;
    top: 3px;
  }
  .menu__btn {
    width: 40px;
    height: 40px;
    margin: 10px 0;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    z-index: 9000;
  }
  .menu__btn:hover .icon-menu_24px, .menu__btn:focus .icon-menu_24px {
    fill: #2196F3;
  }
  .menu__btn .icon-menu--close {
    display: none;
  }
  .menu__btn.is-open .icon-menu--close {
    display: block;
  }
  .menu__btn.is-open .icon-menu--open {
    display: none;
  }
  .menu-nav__item {
    text-align: left;
  }
  .menu-nav__sochial--networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
  .menu-nav__sochial--networks:not(:last-of-type) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .menu-nav__item .menu-nav__link {
    font-size: 40px;
  }
  .main-nav.container {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu-nav__link.phone-number {
    padding: 0;
    font-size: 34px;
    line-height: 1.176;
    color: #2196F3;
  }
  .menu-nav__link.mail {
    padding: 0;
    margin-top: 16px;
    font-size: 24px;
    line-height: 1.167;
    color: #757575;
  }
  .menu-nav__sochial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-nav__sochial.list {
    margin-left: -10px;
    margin-top: 64px;
  }
  .menu-nav__sochial--networks {
    padding: 0 10px;
  }
  .menu-nav__sochial--contact {
    color: #2196F3;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .icon-envelope,
.icon-smartphone {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .menu-nav__container {
    width: calc(100% - 125px - 30px - (100% - 125px - 30px - 293px - 165px) / 2);
    position: relative;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav.container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-nav.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__btn,
.menu-nav__sochial {
    display: none;
  }
  .menu-nav > .menu-nav__item .menu-nav__link {
    padding: 32px 0;
    font-size: 14px;
  }
  .menu-nav__item .menu-nav__link.contact {
    padding-bottom: 0px;
    font-size: 14px;
    color: #757575;
  }
  .menu-nav--contact-position.list > .menu-nav__item:first-of-type {
    margin-bottom: 10px;
  }
  .menu-nav__link.menu-nav__link--location::after {
    display: block;
    position: absolute;
    width: 100%;
    content: "";
    bottom: 0;
    margin: 0 0 -1px;
    padding: 0;
    border-bottom: 4px solid #2196F3;
    border-radius: 2px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-nav__link.menu-nav__link--location::after:hover, .menu-nav__link.menu-nav__link--location::after:focus {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .menu-nav__link.menu-nav__link--location .menu-nav__item > .menu-nav__link.active::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .menu-nav__link.menu-nav__link--location .menu-nav__item > .menu-nav__link.active {
    color: #2196F3;
  }
  .menu-nav__link.menu-nav__link--location .menu-nav__item > .menu-nav__link:hover .icon-envelope, .menu-nav__link.menu-nav__link--location .menu-nav__item > .menu-nav__link:focus .icon-envelope, .menu-nav__link.menu-nav__link--location .menu-nav__item > .menu-nav__link:hover .icon-smartphone, .menu-nav__link.menu-nav__link--location .menu-nav__item > .menu-nav__link:focus .icon-smartphone {
    fill: #2196F3;
  }
  .menu-nav--contact-position.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-nav .menu-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu-nav__item > .menu-nav__link.active::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .menu-nav__item > .menu-nav__link.active {
    color: #2196F3;
  }
  .menu-nav__item > .menu-nav__link:hover .icon-envelope, .menu-nav__item > .menu-nav__link:focus .icon-envelope, .menu-nav__item > .menu-nav__link:hover .icon-smartphone, .menu-nav__item > .menu-nav__link:focus .icon-smartphone {
    fill: #2196F3;
  }
}
@media (min-width: 1200px) {
  .menu-nav__container {
    width: 100%;
    position: relative;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav.container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-nav.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 93px;
  }
  .list .menu-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-nav--contact-position.list > .menu-nav__item:first-of-type {
    margin-bottom: 0;
  }
  .menu__btn,
.menu-nav__sochial {
    display: none;
  }
  .menu-nav > .menu-nav__item .menu-nav__link {
    padding: 32px 0;
    font-size: 14px;
  }
  .menu-nav__item .menu-nav__link.contact {
    padding-bottom: 0px;
    font-size: 14px;
    color: #757575;
  }
  .menu-nav__link.menu-nav__link--location::after {
    display: block;
    position: absolute;
    width: 100%;
    content: "";
    bottom: 0;
    margin: 0 0 -1px;
    padding: 0;
    border-bottom: 4px solid #2196F3;
    border-radius: 2px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-nav__link.menu-nav__link--location::after:hover, .menu-nav__link.menu-nav__link--location::after:focus {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .menu-nav__link.menu-nav__link--location .menu-nav__item > .menu-nav__link.active::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .menu-nav__link.menu-nav__link--location .menu-nav__item > .menu-nav__link.active {
    color: #2196F3;
  }
  .menu-nav__link.menu-nav__link--location .menu-nav__item > .menu-nav__link:hover .icon-envelope, .menu-nav__link.menu-nav__link--location .menu-nav__item > .menu-nav__link:focus .icon-envelope, .menu-nav__link.menu-nav__link--location .menu-nav__item > .menu-nav__link:hover .icon-smartphone, .menu-nav__link.menu-nav__link--location .menu-nav__item > .menu-nav__link:focus .icon-smartphone {
    fill: #2196F3;
  }
  .menu-nav--contact-position {
    margin-left: auto;
  }
  .menu-nav {
    margin-left: 5.81255px;
  }
  .menu-nav--contact-position.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu-nav .menu-nav__item:not(:last-child),
.menu-nav--contact-position .menu-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu-nav__item > .menu-nav__link.active::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .menu-nav__item > .menu-nav__link.active {
    color: #2196F3;
  }
  .menu-nav__item > .menu-nav__link:hover .icon-envelope, .menu-nav__item > .menu-nav__link:focus .icon-envelope, .menu-nav__item > .menu-nav__link:hover .icon-smartphone, .menu-nav__item > .menu-nav__link:focus .icon-smartphone {
    fill: #2196F3;
  }
}
.page-header {
  border-bottom: 1px solid #ECECEC;
}

.main-nav.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  background-color: #FFFFFF;
}

.menu-nav.list,
.menu-nav--contact-position.list {
  background-color: #FFFFFF;
}

.main-nav {
  position: relative;
}

.logo {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo p {
  margin: 0;
}

.logo--color-activity {
  color: #2196F3;
}

.menu-nav__item .menu-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-nav__item .menu-nav__link:hover, .menu-nav__item .menu-nav__link:focus {
  color: #2196F3;
}

.menu-nav__item > .menu-nav__link.active {
  color: #2196F3;
}

.menu-nav__link.contact {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu-nav__item .menu-nav__link:hover, .menu-nav__item .menu-nav__link:focus {
  color: #2196F3;
}

@media screen and (max-width: 768px) {
  .hero.section--position {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/main/header_450_1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/main/header_450_1x.jpg);
  }
}
@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero.section--position {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/main/header_450_2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/main/header_450_2x.jpg);
  }
}
@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  .hero.section--position {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/main/header_450_3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/main/header_450_3x.jpg);
  }
}
@media screen and (max-width: 768px) {
  .hero--style {
    margin: 118px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero.section--position {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/main/header_768_1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/main/header_768_1x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1200px) and (min-resolution: 2dppx) {
  .hero.section--position {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/main/header_768_2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/main/header_768_2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1200px) and (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  .hero.section--position {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/main/header_768_3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/main/header_768_3x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero--style {
    margin: 118px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero.section--position {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/main/header_1600_1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/main/header_1600_1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero.section--position {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/main/header_1600_2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/main/header_1600_2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  .hero.section--position {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/main/header_1600_3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/main/header_1600_3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-width: 1200px) {
  .hero--style {
    margin: 200px 0;
  }
}
.hero.section--position {
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #000000;
}

.hero__title {
  margin: 0 auto;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standartButtom {
  display: block;
  margin: 30px auto 0;
  padding: 0;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.container.hero__container {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .item.advantages__item {
    width: 100%;
  }
  .advantages__item:not(:last-of-type) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .item.advantages__item {
    width: 50%;
    padding: 15px;
    margin: 0;
  }
  .advantages__list {
    margin: -15px;
  }
  .advantages__item .advantages__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    margin: 0;
  }
  .item.advantages__item {
    width: 270px;
    margin-right: 30px;
    padding: 0;
  }
  .advantages__list .item:nth-child(4n) {
    margin-right: 0;
  }
  .advantages {
    margin-bottom: 94px;
  }
  .adventages.section--position {
    padding-bottom: 0;
  }
  .advantages__item .advantages__title {
    text-align: left;
  }
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__list .advantages__icon {
  border-radius: 4px;
}

.item .advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}

.advantages--description {
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1200px) {
  .doing {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .doing {
    display: block;
  }
  .container.our-projects {
    padding-top: 0;
  }
  .doing__list .item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .doing__link {
    position: relative;
  }
  .doing__link::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .doing__link.desktop-add::after {
    content: "Десктопные приложения";
  }
  .doing__link.mobile-add::after {
    content: "Мобильные приложения";
  }
  .doing__link.disigne-add::after {
    content: "Дизайнерские решения";
  }
}
@media screen and (max-width: 768px) {
  .team__item {
    width: 100%;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .team__list {
    margin-top: 30px;
  }
  .team__card--style {
    padding: 30px 0 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team__item {
    width: 50%;
    padding: 15px;
    margin: 0;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px -15px -15px;
  }
  .team__card--style {
    padding: 30px 0 24px;
  }
  .footer__column1.column,
.footer__column2.column {
    width: auto;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    padding: 0;
  }
  .team__list {
    margin: 0;
  }
  .list.team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team__list .item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  .team__card--style {
    padding: 30px 0;
    margin-top: -5px;
  }
  .team__card {
    width: 270px;
  }
}
.team {
  background: #F5F4FA;
}

.team--member {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team--position {
  margin: 0;
  font-size: 1rem;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team__card {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card > img {
  width: 100%;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -5px;
  padding-top: 16px;
}

.social__item {
  margin: 5px;
}

.social__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social__link:hover .icon, .social__link:focus .icon {
  fill: #FFFFFF;
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  background-color: #2196F3;
  border-radius: 50%;
  -webkit-animation: scale 300ms linear;
          animation: scale 300ms linear;
}

@media screen and (max-width: 768px) {
  .clients__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    padding: 15px;
  }
  .list.clients__list {
    margin: 15px -15px -15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33.3333333333%;
    padding: 15px;
  }
  .list.clients__list {
    margin: 15px -15px -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 16.6666666667%;
    padding: 15px;
  }
  .list.clients__list {
    margin: 35px -15px -15px;
  }
}
.list.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__link {
  width: 100%;
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 92px;
  text-align: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.clients__link:hover .icon, .clients__link:focus .icon {
  fill: #2196F3;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  border-color: #2196F3;
}

@media (max-width: 768px) {
  .poster__list {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -30px;
  }
  .poster__item {
    margin-top: 30px;
  }
  .list.filter__list {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .poster__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 100%;
    margin-bottom: -30px;
    margin-top: 0;
  }
  .poster__item {
    -ms-flex-preferred-size: calc(50% - 15px);
        flex-basis: calc(50% - 15px);
    margin-bottom: 30px;
    margin-top: 0;
  }
  .poster__item:nth-child(odd) {
    margin-right: 30px;
  }
  .list.filter__list {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .poster__list > .poster__item {
    margin-right: 0;
    margin-bottom: 0;
  }
  .poster__item {
    -ms-flex-preferred-size: calc(33.3333333333% - 60px);
        flex-basis: calc(33.3333333333% - 60px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .filter__item:not(:last-child) {
    margin-right: 8px;
    padding: 0;
  }
  .poster__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -30px;
    margin-left: -30px;
    margin-bottom: 0;
    width: auto;
  }
  .poster__item .poster__card {
    width: 370px;
  }
  .list.filter__list {
    margin-bottom: 50px;
  }
}
.filter__title--do-not-show {
  display: none;
}

.filter__container,
.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list.filter__list {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: -15px;
}

.filter-button {
  padding: 0.375rem 1.375rem;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: #212121;
  background-color: #F5F4FA;
}
.filter-button:hover, .filter-button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item {
  margin-top: 15px;
  padding: 0;
}

.poster__project--style {
  margin-top: -5px;
  padding: 20px 24px;
}

p.poster__project--type {
  margin: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

p.poster__project--name {
  margin: 0 0 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.poster__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.poster__card {
  height: 100%;
  width: 100%;
  border: 1px solid #EEEEEE;
  margin: 0;
  padding: 0;
}
.poster__card:hover, .poster__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 0.375rem rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 0.375rem rgba(0, 0, 0, 0.16);
}

.poster__card--img {
  position: relative;
  overflow: hidden;
}

.poster__card--img img {
  width: 100%;
}

.poster__card--contant {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.poster__card--contant-text {
  display: block;
  position: relative;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding-left: 24px;
  padding-right: 24px;
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.poster__card--img::after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(33, 150, 243, 0.9);
}

.poster__link:hover .poster__card--img::after, .poster__link:focus .poster__card--img::after, .poster__link:hover .poster__card--contant, .poster__link:focus .poster__card--contant {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.poster__link:hover .poster__card--contant-text, .poster__link:focus .poster__card--contant-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media screen and (max-width: 768px) {
  .container.footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .column {
    text-align: center;
    width: 100%;
  }
  .footer__column2,
.footer__column3 {
    margin-top: 60px;
  }
  .email-for-news {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__column3 {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__list--mail,
.mail--submit {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .column {
    text-align: center;
  }
  .container.footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__tablet--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  .footer__column3 {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
  .email-for-news {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__list--mail,
.mail--submit {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .container.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: auto;
    padding: 60px 15px;
  }
  .column {
    text-align: left;
  }
  .footer__tablet--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 100%;
  }
  .footer__column2 {
    padding-left: 93px;
  }
  .social__item {
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
  }
  .social__item:not(:last-child) {
    margin-right: 10px;
  }
  .email-for-news {
    width: 358px;
    margin-bottom: 0;
  }
  .footer__column3 {
    text-align: left;
    margin-top: 0;
  }
  .mail--submit {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.container.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  margin: 0 0 20px;
}

.post-address {
  color: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.logo--color-primary {
  color: #FFFFFF;
}

.contact.contact-item {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__item.link {
  padding-top: 10px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__list--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -5px;
}

.icon.icon-footer {
  fill: #FFFFFF;
}

.footer__list--mail,
.mail--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__list--mail,
.mail--submit {
    width: 570px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__list--mail {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email-for-news {
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #FFFFFF;
  background-color: #2F303A;
}

.email-for-news::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-for-news::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-for-news:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-for-news::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-for-news::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.standartButtom.btn-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.icon.icon-iconsend {
  margin-left: 10px;
}

.post-address .footer__item p {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */