.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.advantages__list .advantages__icon {
    border-radius: 4px;
}
.item .advantages__icon{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.advantages__title {
    margin: 0 0 0.625rem;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-text-color;
    text-align: center;
}
.advantages__item:not(:last-of-type) {
    margin-bottom: 1.875rem;
}
.advantages--description {
    margin: 0.625rem 0 0;
    font-size: 0.875rem;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}

// .advantages__list .item:nth-child(4n) {
//     margin-right: 0;
// }
// .advantages {
//     margin-bottom: 94px;
// }
// .advantages__list .item {
//         width: 270px;
//         margin-right: 30px;
//     }
// .adventages.section--position {
//     padding-bottom: 0;
// }
