.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
@media  screen and (max-width: 767px) {
    .item.advantages__item {
        width: 100%;
    }
    .advantages__item:not(:last-of-type) {
        margin-bottom: 1.875rem;
    }
}
@media  screen and (min-width: $tablet) {
    .item.advantages__item {
        width: calc(50% - 30px);
        padding: 15px;
    }
    .advantages__list {
        margin: -15px;
    }
}
.advantages__list .advantages__icon {
    border-radius: 4px;
}
.item .advantages__icon{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.advantages__title {
    margin: 0 0 0.625rem;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-text-color;
    text-align: center;
}
.advantages--description {
    margin: 0.625rem 0 0;
    font-size: 0.875rem;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}