.list.clients__list {
    justify-content: space-between;
    margin-top: 0.9375rem;
}
.clients__item {
    display: flex;
    width: calc(50% - 1.875rem);
    margin-top: 0.9375rem;
}
.clients__link {
    width: 100%;
}
.clients__icon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 5.75rem;
    text-align: center;
    border: 1px solid $main-icon-color;
    border-radius: 4px;
    @extend %background-color;
 }
.clients__link {
    &:hover .icon,
    &:focus .icon {
    fill: $activity-color;
    }
    &:hover .clients__icon,
    &:focus .clients__icon {
    border-color: $activity-color;
    }
}