@media screen and (max-width:$tablet) {
    .clients__item {
        display: flex;
        width: calc(50%);
        padding: 0.9375rem;
    }
}
@media screen and (min-width:$tablet) and (max-width:$desctop) {
    .clients__item {
        display: flex;
        width: calc(100%/3);
        padding: 0.9375rem;
    }
}
@media screen and (min-width:$desctop) {
    .clients__item {
        display: flex;
        width: calc(100%/6);
        padding: 0.9375rem;
    }
}
.list.clients__list {
    display: flex;
    justify-content: center;
    margin-top: 0.9375rem;
    margin: 0.9375rem -0.9375rem -0.9375rem;
}
.clients__link {
    width: 100%;
}
.clients__icon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 5.75rem;
    text-align: center;
    border: 0.0625rem solid $main-icon-color;
    border-radius: 0.25rem;
    @extend %background-color;
 }
.clients__link {
    &:hover .icon,
    &:focus .icon {
    fill: $activity-color;
    }
    &:hover .clients__icon,
    &:focus .clients__icon {
    border-color: $activity-color;
    }
}