body {
    font-family: $primiry-font;
    color: $main-text-color;
    background-color: $primiry-color;
    font-size: 1rem;    // 16px;
    width: 100%;
    margin: 0 auto;
    // min-width: 16.8rem;
    @media screen and (min-width: $tablet) and (max-width: $desctop) {
        max-width: $tablet;
    }
    @media screen and (min-width: $desctop) {
        min-width: $desctop;
    }
    @media screen and (max-width: $tablet_one) {
        min-width: $mobile;
    }
}
a {
    text-decoration: none;
}
h1 {
    font-weight: 900;
    font-size: 1.63rem;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primiry-color;
}
footer {
    background-color: $footer-background-color;
}
button {
    cursor: pointer;
}
.page-header,
.footer-container {
    margin: 0 auto;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section--position {
    margin: 0 auto;
}
.section__title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.doing__list,
.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.875rem;
    // margin-top: 3.125rem;
}
textarea {
    resize: none;
}
input,
textarea {
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: 0.01em; 
    padding: 0.75rem 1rem;
    border: 1px solid $input-border-color;
    border-radius: 4px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: 0.01em; 
    color: $placeholder-color;
    opacity: 1; /* Firefox */
  }
:-ms-input-placeholder,
::-ms-input-placeholder
{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: 0.01em; 
    color: $placeholder-color;
  }
.style-checkbox {
    width: 1rem;
    height: 0.9375rem;
    border: 1px solid $main-text-color;
}
input[type="checkbox"] {
    background: $main-text-color;
    border: 1px solid $checkbox-border-color;
}
.container {
    margin: 0 auto;
    padding: 3.75rem 0.938rem;
    @media screen and (min-width: $tablet) and (max-width: $desctop) {
        max-width: $tablet;
    }
    @media screen and (max-width: $tablet_one) {
        min-width: $mobile;
    }
    @media screen and (min-width: $desctop) {
        max-width: 1200px;
    }
}
 img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
 }