body {
    font-family: $primiry-font;
    color: $main-text-color;
    background-color: $primiry-color;
    font-size: 16px;
    width: auto;
    margin: 0 auto;
    @media screen and (max-width: 767.9px) {
        max-width: 767.9px;
    }
    @media screen and (min-width: $tablet) and (max-width: $desctop) {
        max-width: 1199.9px;
    }
    @media screen and (min-width: $desctop) {
        min-width: $desctop;
    }
}
a {
    text-decoration: none;
}
h1 {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primiry-color;
}
footer {
    background-color: $footer-background-color;
}
button {
    cursor: pointer;
}
.page-header,
.footer-container {
    margin: 0 auto;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section--position {
    margin: 0 auto;
}
.section__title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    @media screen and (min-width: $desctop) {
        font-size: 36px;
        line-height: 1.1667;
    }
}
.doing__list,
.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    @media screen and (min-width: $desctop) {
        margin-top: 50px;
    }
}
textarea {
    resize: none;
}
input,
textarea {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em; 
    padding: 12px 16px;
    border: 1px solid $input-border-color;
    border-radius: 4px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em; 
    color: $placeholder-color;
    opacity: 1; /* Firefox */
  }
:-ms-input-placeholder,
::-ms-input-placeholder
{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em; 
    color: $placeholder-color;
  }
.style-checkbox {
    width: 16px;
    height: 15px;
    border: 1px solid $main-text-color;
}
input[type="checkbox"] {
    background: $main-text-color;
    border: 1px solid $checkbox-border-color;
}
.container {
    margin: 0 auto;
    @media screen and (min-width: $tablet) and (max-width: $desctop) {
        max-width: $tablet;
        padding: 60px 15px;
    }
    @media screen and (max-width: 767.9px) {
        max-width: $mobile;
        padding: 60px 15px;
        width: auto;
    }
    @media screen and (min-width: $desctop) {
        max-width: $desctop;
        padding: 94px 15px;
    }
}
 img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
 }