@media screen and (max-width: $tablet) {
    .container.footer-container {
        flex-wrap: wrap;
    }
    .column {
        text-align: center;
        width: 100%;
    }
    .footer__column2,
    .footer__column3 {
        margin-top: 60px;
    }
    .email-for-news {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__column3 {
        margin-left: auto;
        margin-right: auto;
    }
    .footer__list--mail,
    .mail--submit {
    justify-content: center;
}
}
@media screen and (min-width:$tablet) and (max-width: $desctop) {
    .column {
        text-align: center;
    }
    .container.footer-container {
        flex-wrap: wrap;
    }
    .footer__tablet--container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .footer__column3 {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 450px;
    }
    .email-for-news {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__list--mail,
    .mail--submit {
    justify-content: center;
}
}
@media screen and (min-width: $desctop) {
    .container.footer-container {
        display: flex;
        flex-wrap: nowrap;
        width: auto;
    }
    .column {
        text-align: left;
    }
    .footer__tablet--container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: left;
        width: 100%;
    }
    .footer__column2 {
        padding-left: 93px;
    }
    .social__item {
        flex-basis: calc((100% / 4) - 30px);
    }
    .social__item:not(:last-child) {
        margin-right: 10px;
    }
    .email-for-news {
        width: 358px;
        margin-bottom: 0;
    }
    .footer__column3 {
        width: 100%;
        text-align: left;
        margin-top: 0;
    } 
    .footer__list--mail {
        width: 570px;
    }
    .mail--submit {
        width: 100%;
        justify-content: space-between;
    }
}
.container.footer-container {
    display: flex;
    justify-content: center;
}
.footer__logo {
    margin: 0 0 20px;
}
.post-address {
    color: $primiry-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.logo--color-primary {
    color: $primiry-color;
}
.contact.contact-item {
    display: block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: $secondary-footer-text-color;
}
.footer__item:not(:last-child) {
    margin-bottom: 8px;
}
.footer__item.link {
    padding-top: 10px;
}
.footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primiry-color;
    margin-top: 0;
    margin-bottom: 20px;
}
.footer__list--social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -5px;
}
.icon.icon-footer {
    fill: $primiry-color;
}
.footer__list--mail,
.mail--submit {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.footer__list--mail {
    justify-content: center;
}
.email-for-news {
    padding: 15px 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: $primiry-color;
    background-color: $footer-background-color;
}
.email-for-news::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $secondary-footer-text-color;
}
.standartButtom.btn-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
    margin: 0;
} 
.icon.icon-iconsend {
    margin-left: 10px;
}
.post-address .footer__item p {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
