.container.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.column {
    text-align: center;
    width: 100%;
    @media screen and (min-width:$mobile) {
        width: $mobile;
    }
}
.footer__column2,
.footer__column3 {
    margin-top: 3.75rem;
}

.footer__logo {
    margin: 0 0 1.25rem;
}
.post-address {
    color: $primiry-color;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.logo--color-primary {
    color: $primiry-color;
}
.contact.contact-item {
    display: block;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: $secondary-footer-text-color;
}
.footer__item:not(:last-child) {
    margin-bottom: 0.5625rem;
}
.footer__item.link {
    padding-top: 0.625rem;
}
.footer__title {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primiry-color;
    margin-top: 0;
}
.footer__list--social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -0.3125rem;
}
.icon.icon-footer {
    fill: $primiry-color;
}
.footer__column3 {
    margin-left: auto;
    justify-content: center;
    align-items: center;
}
.footer__list--mail,
.mail--submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.email-for-news {
    padding: 0.9375rem 1rem;
    width: 100%;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: $primiry-color;
    background-color: $footer-background-color;
}
.email-for-news::placeholder {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $secondary-footer-text-color;
}
.standartButtom.btn-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
    margin: 0;
} 
.icon.icon-iconsend {
    margin-left: 0.625rem;
}
