.page-header,
.footer-container {
    margin: 0 auto;
}
.icon-menu_24px--close {
    display: none;
    
}
.menu-nav__container {
    display: none;
}

 .menu.main-nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
 }
.logo {
    padding: 0;
    margin: 0;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $main-text-color;
}
.logo p {
    margin: 0;
}
.logo--color-activity {
    color: $activity-color;
}
.menu__btn--open {
    width: 2.5rem;
    height: 2.5rem;
    background-color: $primiry-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.main-nav.container {
    justify-content: space-between;
    padding: 0.625rem 0.94rem;
}
.main-nav,
.menu-nav,
.menu-nav--contact-position {
    display: flex;
    align-items: center;
}
.menu-nav--contact-position {
    margin-left: auto;
}
.menu-nav {
    margin-left: 93px;
}
.menu-nav__item .menu-nav__link {
    display: block;
    position: relative;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:$main-text-color;
    @extend %transform;
    &:hover, &:focus {
        color: $activity-color;
    }
}
.menu-nav__link.contact {
    font-style: normal;
    color: $secondary-text-color;
}
.menu-nav .menu-nav__item:not(:last-child),
.menu-nav--contact-position .menu-nav__item:not(:last-child) {
    margin-right: 50px;
}
.page-header {
    border-bottom: 1px solid $header-border-color;
}
.menu-nav__link.menu-nav__link--location {
    &::after {
    display: block;
    position: absolute;
    width: 100%;
    content: "";
    bottom: 0;
    margin: 0;
    padding: 0;
    border-bottom: 4px solid $activity-color;
    border-radius: 2px;
    transform: scaleX(0);
    @extend %transform;
        &:hover, &:focus {
            transform: scaleX(1);
        }
    }
}
.menu-nav__item > .menu-nav__link {
    &.active::after {
        transform: scaleX(1);
    }
    &.active {
        color: $activity-color;
    }
    &:hover .icon-envelope,
    &:focus .icon-envelope,
    &:hover .icon-smartphone,
    &:focus .icon-smartphone {
        fill: $activity-color;
    }
}