.hero.section--position {
    max-width: 100rem;
    margin: 0 auto;
    // padding: 200px 0;
    background-image: 
    linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../../images/main/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid $checkbox-border-color;
}
.hero__title{
    margin: 0 auto;
}
.hero--style {
    margin: 7.375rem 3.75rem;
}
.standartButtom {
    display: block;
    margin: 30px auto 0;
    padding: 0;
    width: 12.5rem;
    height: 3.125rem;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: $primiry-color;
    background-color: $activity-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}