@media screen and (max-width: $tablet) {
    .hero.section--position {
        background-image: 
        linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
        url(../../images/main/header_450_1x.jpg);
    }
    @media screen and (min-resolution: 2dppx) {
        .hero.section--position  {
            background-image: 
            linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
            url(../../images/main/header_450_2x.jpg);
        } 
        @media screen and (min-resolution: 3dppx) {
            .hero.section--position  {
                background-image: 
                linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
                url(../../images/main/header_450_3x.jpg);
            }   
        }  
    }
}
@media screen and (min-width: $tablet) and (max-width: $desctop) {
    .hero.section--position {
        background-image: 
        linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
        url(../../images/main/header_768_1x.jpg);
    }
    @media screen and (min-resolution: 2dppx) {
        .hero.section--position  {
            background-image: 
            linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
            url(../../images/main/header_768_2x.jpg);
        } 
        @media screen and (min-resolution: 3dppx) {
            .hero.section--position  {
                background-image: 
                linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
                url(../../images/main/header_768_3x.jpg);
            }   
        }  
    }
}
@media screen and (min-width: $desctop) {
    .hero.section--position {
        background-image: 
        linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
        url(../../images/main/header_1600_1x.jpg);
    }
    @media screen and (min-resolution: 2dppx) {
        .hero.section--position  {
            background-image: 
            linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
            url(../../images/main/header_1600_2x.jpg);
        } 
        @media screen and (min-resolution: 3dppx) {
            .hero.section--position  {
                background-image: 
                linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
                url(../../images/main/header_1600_3x.jpg);
            }   
        }  
    }
}
.hero.section--position {
    max-width: 100rem;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0.0625rem solid $checkbox-border-color;
}
.hero__title{
    margin: 0 auto;
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero--style {
    margin: 7.375rem 3.75rem;
}
.standartButtom {
    display: block;
    margin: 1.875rem auto 0;
    padding: 0;
    width: 12.5rem;
    height: 3.125rem;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: $primiry-color;
    background-color: $activity-color;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    border: none;
}