@media (min-width: $tablet) and (max-width: $desctop) {
    .poster__list {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: left;
        width: 100%;
        margin-bottom: -1.875rem;
    }
    .poster__item {
        flex-basis: calc(50% - 0.9375rem);
        margin-bottom: 1.875rem;
    }
    .poster__item:nth-child(odd) {
        margin-right: 1.875rem;
    }
}
@media (max-width: $tablet) {
    .poster__list {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: -1.875rem;
    }
    .poster__item {
        margin-top: 1.875rem;
    }
}
@media (min-width: $desctop) {

    .poster__list > .poster__item {
        margin-right: 0;
        margin-bottom: 0;
    }
    .poster__item {
        flex-basis: calc(100%/3 - 1.875rem);
        margin-top: 1.875rem;
        margin-left: 1.875rem;
    }
    .filter__item:not(:last-child){
        margin-right: 0.5rem;
        padding: 0;
    }
    .poster__list {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -1.875rem;
        margin-left: -1.875rem;
        margin-bottom: 0;
        width: auto;
    }
    .poster__item .poster__card {
        width: 23.125rem; 
    }
}
.filter__title--do-not-show {
    display: none;
}
.filter__container,
.filter__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list.filter__list {
    justify-content: left;
    margin-top: -0.9375rem;
    margin-bottom: 2.5rem;
}
.filter-button {
    padding: 0.375rem 1.375rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 0.25rem;
    color: $main-text-color;
    background-color: $section-background-color;
    @extend %background-color;
    @extend %color;
    @extend %box-shadow;
    
    &:hover, &:focus {
        color: $primiry-color;
        background-color: $activity-color;
        box-shadow: 0rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.1), 0rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.08), 0rem 0.125rem 0.125rem rgba(0, 0, 0, 0.12);
    }
}
.filter__item:not(:last-child){
    margin-right: 0.5rem;
}
.filter__item {
    margin-top: 0.9375rem;
    padding: 0;
}
.poster__project--style {
    margin-top: -0.3125rem;
    padding: 1.25rem 1.5rem;
}
p.poster__project--type {
    margin: 0;
    color:$secondary-text-color;
    font-size: 1rem;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
p.poster__project--name {
    margin: 0 0 0.25rem;
    color: $main-text-color;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2;
    letter-spacing: 0.06em;
}
.poster__list {
    display: flex;
}
.poster__card {
    height: 100%;
    width: 100%; 
    border: 0.0625rem solid #EEEEEE;
    margin: 0;
    padding: 0;
    @extend %box-shadow;

    &:hover, &:focus {
        box-shadow: 0rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.12), 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.06), 0.0625rem 0.25rem 0.375rem rgba(0, 0, 0, 0.16);
    }
}
.poster__card--img {
    position: relative;
    overflow: hidden;
}
.poster__card--img img {
    width: 100%;
}
.poster__card--contant {
    position: absolute;
    display: flex;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.poster__card--contant-text {
    display: block;
    position: relative;
    transform: translateY(100%);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: left; 
    font-size: 1.125rem;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color:$primiry-color;
    @extend %transform; 
}
.poster__card--img::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    content: "";
    background: $poster-background-color;
    @extend %transform; 
}
.poster__link {
    &:hover .poster__card--img::after,
    &:focus .poster__card--img::after,
    &:hover .poster__card--contant,
    &:focus .poster__card--contant {
        transform: translateY(-100%);
        }
        &:hover .poster__card--contant-text,
        &:focus .poster__card--contant-text {
            transform: translateY(0%);
        }
}