.team {
    background: $section-background-color;
}
.team__list {
    margin-top: 30px;
}
.team__item {
    width: 100%;
}
.team__card--style {
    padding: 1.875rem 0 1.5rem;
}
.team__item:not(:last-child) {
    margin-bottom: 1.875rem;
}
.team--member {
    margin: 0;
    padding-bottom: 0.625rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team--position {
    margin: 0;
    font-size: 1rem;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}
.team__card {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.social__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -5px;
    padding-top: 1rem;
}
.social__item {
    margin: 5px;
}
.social__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    background-color: $social-icon-baground-color;
    border-radius: 50%;
    @extend %background-color;
    @extend %animation;
    @extend %border-radius;

}
// .social__link {
//     &:hover .icon,
//     &:focus .icon {
//     fill: $primiry-color;
//     }
//     &:hover .social__icon,
//     &:focus .social__icon {
//     background-color: $activity-color;
//     border-radius: 50%;
//     animation: scale 300ms linear; 
//     }
// }
// .team__list .item:not(:nth-child(4n)) {
//     margin-right: 30px;
// }
// .team__card--style {
//     padding: 30px 0;
//     margin-top: -5px;
// }