
@media screen and (max-width: $tablet) {
    .team__item {
        width: 100%;
    } 
    .team__item:not(:last-child) {
        margin-bottom: 1.875rem;
    }
    .team__list {
        margin-top: 1.875rem;
    }
    .team__card--style {
        padding: 1.875rem 0 1.5rem;
    }
}
@media screen and (min-width: $tablet) and (max-width: $desctop) {
    .team__item {
        width: calc(50% - 1.875rem);
        padding: 0.9375rem;
        margin: 0;
    } 
    .team__item:not(:last-child) {
        margin-bottom: 0rem;
    }
    .team__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0.9375rem -0.9375rem -0.9375rem;
    }
    .team__card--style {
        padding: 1.875rem 0 1.5rem;
    }
    .footer__column1.column,
    .footer__column2.column {
        width: auto;
        margin-top: 0;
    }
}
@media screen and (min-width: $desctop) {
    .team__item {
        width: 16.875rem;
        padding: 0;
    }
    .team__list {
        margin: 0;
    }
    .list.team__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3.125rem;
        justify-content: center;
    }
    .team__list .item:not(:nth-child(4n)) {
        margin-right: 1.875rem;
    }
    .team__card--style {
        padding: 1.875rem 0;
        margin-top: -0.3125rem;
    }
    .team__card {
        width: 16.875rem;
    }
}
.team {
    background: $section-background-color;
}
.team--member {
    margin: 0;
    padding-bottom: 0.625rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team--position {
    margin: 0;
    font-size: 1rem;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}
.team__card {
    background-color: #fff;
    box-shadow: 0rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.14), 0rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.2);
    border-radius: 0rem 0rem 0.25rem 0.25rem;
}
.team__card > img {
    width: 100%;
}
.social__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -0.3125rem;
    padding-top: 1rem;
}
.social__item {
    margin: 0.3125rem;
}
.social__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    background-color: $social-icon-baground-color;
    border-radius: 50%;
    @extend %background-color;
    @extend %animation;
    @extend %border-radius;

}
.social__link {
    &:hover .icon,
    &:focus .icon {
    fill: $primiry-color;
    }
    &:hover .social__icon,
    &:focus .social__icon {
    background-color: $activity-color;
    border-radius: 50%;
    animation: scale 300ms linear; 
    }
}
